{% extends "base.html" %}

{% block section %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<section class="about_section layout_padding">
    <h4 style="text-align: center;">No farmer data found. Please upload some data</h4>
    <div class="btn-box" style="display: flex; flex-direction: row; justify-content: center; padding: 30px;">
        <button class="btn-1" onclick="location.href = '/upload'" style="padding:2%;" >Upload Data</button>
    </div>
</section>
{% endblock %}