{% extends "base.html" %}

{% block section %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<section class="about_section layout_padding">
    <div class="container" style="padding-bottom: 30px;">
        <div style="text-align: center;">
            <h2>Farmer Info</h2>
            <div class="btn-box" style="display: flex; flex-direction: row; justify-content: center; padding:30px;">
                <button id="English" class="float-center submit-button btn-1" style="margin:10px; padding:0.5%;">English</button>
                <button id="Hindi" class="float-center submit-button btn-1" style="margin:10px; padding:0.5%;">Hindi</button>
                <button id="Marathi" class="float-center submit-button btn-1" style="margin:10px; padding:0.5%;">Marathi</button>
                <button id="Telugu" class="float-center submit-button btn-1" style="margin:10px; padding:0.5%;">Telugu</button>
                <button id="Punjabi" class="float-center submit-button btn-1" style="margin:10px; padding:0.5%;">Punjabi</button>
            </div>
            <h5>Lang Code: {{ lang.upper() }}</h5>
        </div>
        <table class="center">
            <tr>
                <th>Phone</th>
                <th>Name</th>
                <th>State</th>
                <th>District</th>
                <th>Village</th>
            </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.phone }}</td>
                <td>{{ user.farmer_name }}</td>
                <td>{{ user.state_name }}</td>
                <td>{{ user.district_name }}</td>
                <td>{{ user.village_name }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="btn-box" style="display: flex; flex-direction: row; justify-content: center; padding: 30px;">
        <button class="btn-1" onclick="location.href = '/upload'" style="padding:2%;" >Upload Data</button>
    </div>
</section>
<script type="text/javascript">
    document.getElementById("English").onclick = function () {
        location.href = "/view/?lang=en";
    };
    document.getElementById("Hindi").onclick = function () {
        location.href = "/view/?lang=hi";
    };
    document.getElementById("Marathi").onclick = function () {
        location.href = "/view/?lang=mr";
    };
    document.getElementById("Telugu").onclick = function () {
        location.href = "/view/?lang=te";
    };
    document.getElementById("Punjabi").onclick = function () {
        location.href = "/view/?lang=pa";
    };
</script>
</script>
{% endblock %}